<main>
    <div class="container">
        <div class="items-container">
            <div class="items-card small t-head">
                <div class="element">timeStamp</div>
                <div class="element">op (operation)</div>
                <div class="element">name field (retrieval)</div>
            </div>
            <% for( let i = 0; i < array.length; i++ ) { %>
                <div class="items-card small" value="<%=array[i].timeStamp%>">
                    <div class="element"><%=array[i].timeStamp%></div>
                    <div class="element"><%=array[i].op%></div>
                    <div class="element"><%=array[i].name%></div>
                </div>
            <% } %>
            <div class="items-container-bottom"></div>
        </div>
    </div>
</main>