<nav>
    <div class="container">
        <a class="menu-item <%= file === 'list'  ? 'active' : '' %>" href="/interface/list">List</a>
        <a class="menu-item <%= file === 'logs'  ? 'active' : '' %>" href="/interface/logs">Logs</a>
        <a class="menu-item <%= file === 'about' ? 'active' : '' %>" href="/interface/about">About</a>
    </div>
</nav>

<script src="/js/nav.js"></script>