<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Express Shopping List</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>    
    <main>
        <p>middle</p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>