footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 86px;

    height: 86px;
    margin-bottom: 16px;
}

footer .container {
    justify-content: center;
    align-items: center;
}
