nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 0 0 86px;

    font-size: larger;
    height: 86px;
    margin-top: 16px;
}

nav .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200px;

    text-decoration: none;
}

nav .menu-item:hover {
    background-color: var(--secondary-color-hover);
}

nav .menu-item.active {
    background-color: var(--secondary-color-hover);
}

